@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.progress {
  background-color: $base-dark;
  color: white;

  &__heading,
  &__percentage {
    color: $text-main;
  }
  // padding: 1.5rem 1rem;
  // border-radius: 0.75rem;
  // display: flex;
  // gap: 1.5rem;
}
