@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.progress {
  background-color: $base-dark;
  padding: 1.5rem 1rem;
  border-radius: 0.75rem;
  display: flex;
  gap: 1.5rem;
}
