// BASE
$base-main: #180048;
$base-dark: #100030;

// PRIMARY
$primary-main: #f050f8;
$primary-dark: #600e6b;
$primary-intense: #ff2ffb;

// SECONDARY
$secondary-main: #5840ff;
$secondary-dark: #2d1a83;
$secondary-light: #6675f6;

// TERTIARY
$tertiary-main: #60f0f8;
$tertiary-light: #bdf2ff;

// TEXT
$text-main: #f0ffff;
$text-light: #d9ddff;
$text-dark: #a49fc8;

// ACTION
$success: #18f0b8;
$error: #ff3e68;
$warning: #ffa26b;

$pie-char-red-zone: #d93558;

// KEY UNITS
$border-radius: 0.75rem;
